.containerTitleMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
    min-width: 288px;
    box-shadow: 0 2px 0 0 rgb(0 16 61 / 4%);
    border-color: rgba(0, 16, 61, 0.12);
    border-style: solid;
    border-width: 2px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
}
/* containerHeaderMenuParagraph1 */

.containerHeaderMenu {
    height: 50px;
}

.headerMenuParagraph1 {
    text-decoration: none;
    color: #000;
}

.headerMenuParagraph1:hover{
    color: #83be54;
}

.headerMenuParagraph2 {
    text-decoration: none;
    color: #000;
}

.headerMenuParagraph2:hover {
    color: #83be54;
}

.headerMenuParagraph3 {
    text-decoration: none;
    color: #000;
}

.headerMenuParagraph3:hover {
    color: #83be54;
}

.headerMenuParagraph4 {
    text-decoration: none;
    color: #000;
}

.headerMenuParagraph4:hover {
    color: #83be54;
}

.headerMenuParagraph5 {
    text-decoration: none;
    color: #000;
}

.headerMenuParagraph5:hover {
    color: #83be54;
}

.headerMenuParagraph6 {
    text-decoration: none;
    color: #000;
}

.headerMenuParagraph6:hover {
    color: #83be54;
}

.headerMenuParagraph7 {
    text-decoration: none;
    color: #000;
}

.headerMenuParagraph7:hover {
    color: #83be54;
}

.containerHeaderMenu {
    display: flex;
}

.containerHeaderMenuParagraph1 {
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 15px;
}

.containerHeaderMenuParagraph1:hover {
    color: #83be54;
    background-color: #84be5428;
}

.containerHeaderMenuParagraph2 {
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 15px;
}

.containerHeaderMenuParagraph2:hover {
    color: #83be54;
    background-color: #84be5428;
}

.containerHeaderMenuParagraph3 {
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 15px;
}

.containerHeaderMenuParagraph3:hover {
    color: #83be54;
    background-color: #84be5428;
}

.containerHeaderMenuParagraph4 {
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 15px;
}

.containerHeaderMenuParagraph4:hover {
    color: #83be54;
    background-color: #84be5428;
}

.containerHeaderMenuParagraph5 {
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 15px;
}

.containerHeaderMenuParagraph5:hover {
    color: #83be54;
    background-color: #84be5428;
}

.containerHeaderMenuParagraph6 {
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 15px;
}

.containerHeaderMenuParagraph6:hover {
    color: #83be54;
    background-color: #84be5428;
}

.containerHeaderMenuParagraph7 {
    height: 100%;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 15px;
}

.containerHeaderMenuParagraph7:hover {
    color: #83be54;
    background-color: #84be5428;
}

.containerRegistrationMenu {
    display: flex;
}

.containerTitleComboWaysToEnterTheAccoun {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #b8b8b8;
}

.containerTitleRegistrationMenuButton1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #83be54;
    border-radius: 50%;
    width: 35px; 
    height: 35px;
    margin: 0% 5px;
}

.containerTitleRegistrationMenuButton1:hover {
    background-color: #71a546;
}

.containerTitleRegistrationMenuButton2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #83be54;
    border-radius: 50%;
    width: 35px; 
    height: 35px;
    margin: 0% 5px;
}

.containerTitleRegistrationMenuButton2:hover {
    background-color: #71a546;
}

.containerTitleRegistrationMenuButton3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #83be54;
    border-radius: 50%;
    width: 35px; 
    height: 35px;
    margin: 0% 5px;
}

.containerTitleRegistrationMenuButton3:hover {
    background-color: #71a546;
}

.containerTitleEnterVK {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b8b8b8;
    border-radius: 10%;
    width: 27px; 
    height: 27px;
    margin: 0% 5px;
}

.containerTitleEnterVK:hover {
    background-color: #cccccc;
}

.containerTitleEnterGoogle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b8b8b8;
    border-radius: 10%;
    width: 27px; 
    height: 27px;
    margin: 0% 5px;
}

.containerTitleEnterGoogle:hover {
    background-color: #cccccc;
}

.registrationMenuButton1 {
    border-radius: 50%;
}

.registrationMenuButton2 {
    border-radius: 50%;
}

.registrationMenuButton3 {
    border-radius: 50%;
}

.enter {
    background: #FFFFFF;
    padding: 4px 6px;
    border-color: #83be54;
    color: #83be54;
}

.enter:hover {
    background: #FFFFFF;
    padding: 4px 6px;
    border-color: #71a546;
    color: #71a546;
}
